<ul>
    <li>two 1</li>
    <li>two 2</li>
    <li>two 3</li>
    <li>two 5</li>
  </ul>

  <div id="div">
    <table BORDER=5 CELLSPACING=15 CELLPADDING=20 class="egt">
      <tr>
        <th>Des Espacio</th>
        <th>Id Campus</th>
        <th>Url</th>
        <th>Nom Campus</th>
      </tr>
      <tr>
        <td><li *ngFor="let item of agenda; index as i;">{{item.espacio.descripcion}}</li></td>
        <td><li *ngFor="let item of agenda; index as i;">{{item.espacio.id_campus}}</li></td>
        <td><li *ngFor="let item of agenda; index as i;">{{item.espacio.url_webinar}}</li></td>
        <td><li *ngFor="let item of agenda; index as i;">{{item.espacio.campus.nombre_campus}}</li></td>
      </tr>
    </table>
  </div>